.table-prod{
    margin: 3%;
}
.h1-home{
    text-align: center;
    margin: 5%;
}

.form-control{
    display: inline;
    width: 70%;
}

.btn{
   margin: 0px;
   margin-left: 15px;

}

.div-search{
    margin-bottom: 50px;
    
}